body {
  box-sizing: border-box;
  font: 400 20px/1.5 'Source Sans Pro', Open Sans, Roboto, 'San Francisco', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  background-color: #fff
}

header, #main, footer {
  display: flex
}

h1, h2, h3, h4, h5 {
  font-weight: 400
}

a {
  color: #43853d;
  text-decoration: none;
  border-radius: 2px
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0
}

#main {
  flex: 1 0 auto
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row
}

.list-divider-pipe {
  margin: 0;
  padding: 0;
}

.list-divider-pipe li {
  display: inline-block;
}

.list-divider-pipe li+li:before {
  content: '|';
  padding: 0 .3em 0 .1em;
  color: #999
}

.linuxfoundation-footer {
  padding: 1em 20px;
  font-size: 14px;
  color: #fff;
  background: #333;
  direction: ltr;
}

.linuxfoundation-footer p+p {
  margin-top: 0;
  margin-bottom: .25em
}

.linuxfoundation-logo {
  margin-top: .2em;
  min-width: 1px;
  max-width: 416px
}

.issue-link {
  text-align: right;
  min-width: 330px;
}

header {
  background-color: #333;
  text-align: center;
}

header nav a, header nav a:link, header nav a:active {
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ccc !important
}

.nav-foundation {
  margin-left: 8px;
  background-color: #026e00;
}

#logo img {
  display: block;
  margin: .5em auto 0 auto;
  border: none;
  max-height: 75px;
  max-width: 180px
}

footer {
  margin-top: 2em;
  background-color: #333;
  padding: 0 0;
}

footer a, footer a:link, footer a:active {
  color: #ccc
}

.version-banner {
  color: #333;
  font-size: 130%;
  background-color: #eaf5e9;
  padding: 5px 15px;
  border-radius: 2px;
  margin-top: 1em;
}

.secondary-links {
  color: #51744e;
  font-size: .9rem;
}

#intro {
  max-width: 735px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.downloadblock {
  display: inline-block;
  margin: 0 8px
}

.downloadbutton {
  display: block;
  margin: 10px 4px;
  padding: .2em .6em;
  background-color: #026e00;
  color: #fff !important;
  border-radius: 2px;
  font-size: 30px;
  font-weight: 400;
}

.downloadbutton small {
  display: block;
  font-size: 1rem
}
